services:
  - type: web
    name: mi-chaska-flask
    runtime: python3
    buildCommand: pip install --upgrade pip && pip install -r requirements.txt && python migrate_postgres_render.py
    startCommand: gunicorn server:app --bind 0.0.0.0:$PORT --workers 2 --timeout 120
    plan: free
    env: python
    envVars:
      - key: PYTHON_VERSION
        value: "3.11"
      - key: FLASK_ENV
        value: production
      - key: DATABASE_URL
        value: postgresql://admin:wkxMvaYK9HZaSWCsMn2aZJA3EMC9wLNu@dpg-d13oam8dl3ps7392hfu0-a.oregon-postgres.render.com/chaskabd
      - key: DB_HOST  
        value: dpg-d13oam8dl3ps7392hfu0-a.oregon-postgres.render.com
      - key: DB_NAME
        value: chaskabd
      - key: DB_PASS
        value: wkxMvaYK9HZaSWCsMn2aZJA3EMC9wLNu
      - key: DB_PASSWORD
        value: wkxMvaYK9HZaSWCsMn2aZJA3EMC9wLNu
      - key: DB_PORT
        value: "5432"
      - key: DB_USER
        value: admin
      - key: SECRET_KEY
        value: bd5d56cac14e32603c3e26296d88f26d
      - key: BUSINESS_LAT
        value: "19.4326"
      - key: BUSINESS_LNG
        value: "-99.1332"
      - key: MAX_DELIVERY_DISTANCE_KM
        value: "10"
